<nav class="navbar navbar-expand-md sticky-top">
  <div class="container">
    <!-- Brand -->
    <a class="navbar-brand" href="/listings">
      <i class="fa-solid fa-compass"></i>
      <span>Wanderlust</span>
    </a>

    <!-- Mobile Toggle -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarContent"
      aria-controls="navbarContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar Content -->
    <div class="collapse navbar-collapse" id="navbarContent">

      <!-- Search Bar (centered) -->
      <div class="navbar-nav mx-auto mt-2 mt-md-0">
        <form class="nav-search-bar" role="search" method="GET" action="/listings/search">
          <input type="text" name="search" placeholder="Search destinations" required />
          <button class="nav-search-btn" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </form>
      </div>

      <!-- Right: host link + dropdown -->
      <div class="nav-menu-right mt-3 mt-md-0 ms-auto">

        <a class="host-link d-none d-md-inline-block" href="/listings/new">
          Wanderlust your home
        </a>

        <div class="dropdown">
          <button
            class="user-dropdown-btn"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="fa-solid fa-bars"></i>
            <% if (currUser) { %>
              <!-- Show profile picture if available, else show initial -->
              <% if (currUser.profileImage && currUser.profileImage.url) { %>
                <img
                  src="<%= currUser.profileImage.url %>"
                  class="user-avatar-photo"
                  alt="<%= currUser.username %>"
                />
              <% } else { %>
                <div class="user-avatar-placeholder">
                  <%= currUser.username.charAt(0).toUpperCase() %>
                </div>
              <% } %>
              <span class="user-name-text"><%= currUser.username %></span>
            <% } else { %>
              <i class="fa-solid fa-circle-user"></i>
            <% } %>
          </button>

          <ul class="dropdown-menu dropdown-menu-end nav-dropdown-menu">

            <% if (!currUser) { %>
              <li>
                <a class="dropdown-item nav-dropdown-item fw-bold-custom" href="/signup">
                  Sign up
                </a>
              </li>
              <li>
                <a class="dropdown-item nav-dropdown-item" href="/login">
                  Log in
                </a>
              </li>

            <% } else { %>
              <!-- Dropdown User Header -->
              <li>
                <div class="nav-dropdown-user-header">
                  <% if (currUser.profileImage && currUser.profileImage.url) { %>
                    <img
                      src="<%= currUser.profileImage.url %>"
                      class="nav-dropdown-avatar-photo"
                      alt="<%= currUser.username %>"
                    />
                  <% } else { %>
                    <div class="nav-dropdown-avatar">
                      <%= currUser.username.charAt(0).toUpperCase() %>
                    </div>
                  <% } %>
                  <div class="nav-dropdown-user-info">
                    <div class="nav-dropdown-username"><%= currUser.username %></div>
                    <div class="nav-dropdown-email"><%= currUser.email %></div>
                  </div>
                </div>
              </li>

              <li><hr class="nav-dropdown-divider"></li>

              <li>
                <a class="dropdown-item nav-dropdown-item" href="/listings/new">
                  <span class="nav-dropdown-icon"><i class="fa-solid fa-plus-circle"></i></span>
                  Wanderlust your home
                </a>
              </li>
              <li>
                <a class="dropdown-item nav-dropdown-item" href="/listings">
                  <span class="nav-dropdown-icon"><i class="fa-solid fa-compass"></i></span>
                  Explore listings
                </a>
              </li>
              <li>
                <a class="dropdown-item nav-dropdown-item" href="/bookings">
                  <span class="nav-dropdown-icon"><i class="fa-solid fa-calendar-check"></i></span>
                  My Bookings
                </a>
              </li>
              <li>
                <a class="dropdown-item nav-dropdown-item" href="/profile">
                  <span class="nav-dropdown-icon"><i class="fa-solid fa-user"></i></span>
                  My Profile
                </a>
              </li>

              <li><hr class="nav-dropdown-divider"></li>

              <li>
                <a class="dropdown-item nav-dropdown-item nav-dropdown-logout" href="/logout">
                  <span class="nav-dropdown-icon"><i class="fa-solid fa-right-from-bracket"></i></span>
                  Log out
                </a>
              </li>
            <% } %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>